# PlatformIO
platformio.ini
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
fp_vbat.db
.pids

# VS Code
.vscode/
.history/
*.log

# Arduino IDE
build/
libraries/
*.bak
*.orig

# OS files
.DS_Store
Thumbs.db
